body, a{ margin: 0; padding: 0; }

ul, li, h3{ padding: 0; margin: 0;}

ul{ list-style: none;}

a {
    color: inherit;
    /*분모의 색을 상속받음*/
    text-decoration: none;
    /*밑줄 없앰 */
}


.log_portrait{
    
    
    background-image: url(images/profile2.jpg);
    background-size: cover;
    /* 사지을 어색하지 않게 비율 16:9로 맞춤 */
    background-position: center;
    max-width: 100%;  
    max-height: 100%;  
    left: 0;  
    right: 0;  
    top: 0;  
    bottom: 0;  
    margin: auto;  
    overflow: auto;  
    position: absolute;
    filter: blur(4px);
    transform: scale(1.02);
    

    /* 16:9 비율 (모바일기준)*/

}

html{ overflow: hidden;}

.login_form{
      border-radius: 35px 35px 35px 35px; width: 50%; height: 30vh; vertical-align: middle; text-align: center;position: relative; top: 30%; left: 25%; background-color: rgba(1,1,1,0.3); box-shadow: 13px 14px 15px -9px rgba(0,0,0,0.52); margin-top: 25vh; padding: 30px 0 0 0;
}


.user_id_form, .user_pwd_form { box-sizing: border-box; display: block; border-radius: 35px 35px 35px 35px; background-color: transparent; 
 }

.id{margin: 0 0 2vh 0;}

h3{ display: block; float: left; position: absolute; width: 30%; height: 35px; line-height: 4vh; font-size: 3.5vw; /* font-family: 'Permanent Marker', cursive; */ font-family: 'Cinzel', serif; }

.login_botton{width: 80%; height: 6vh; background-color: rgba(255,153,14,0.6); margin: 3vh 0 0 10%; line-height: 6vh; border-radius: 35px; box-shadow: 4px 4px 17px -3px rgba(0,0,0,0.54);  display: block; font-family: 'Cinzel', serif; font-weight: bold; 
}
.add_user{width: 80%; height: 6vh; background-color: rgba(255,153,14,0.6); margin: 1vh 0 0 10%; line-height: 6vh; border-radius: 35px; box-shadow: 4px 4px 17px -3px rgba(0,0,0,0.54); display: block; font-family: 'Cinzel', serif; font-weight: bold; 
}

.login_botton:hover { box-shadow: inset 4px 4px 17px -3px rgba(0,0,0,0.54); }
.add_user:hover { box-shadow: inset 4px 4px 17px -3px rgba(0,0,0,0.54); }

.user_id_form { width: 60%; height: 4vh; margin: 0 0 0 30%; padding: 4px 0 4px 0; box-shadow: inset 4px 4px 10px -3px rgba(0,0,0,0.54); outline-style:none; border: solid 0px; padding: 0 15px 0 15px;/*text-indent가능*/ }

.user_pwd_form { width: 60%; height: 4vh; margin: 0 0 0 30%; padding: 4px 0 4px 0; box-shadow: inset 4px 4px 10px -3px rgba(0,0,0,0.54); outline-style:none; border: solid 0px; padding: 0 15px 0 15px; }
